.chatMessageInput {
  position: absolute;
  bottom: 0;
  right:0;

  height: var(--messageInputContainerHeight);
  width: 100%;

  align-content: center;

  background-color: var(--greyDarkCold);

  form {
    display: flex;
    gap: var(--messageFormGap);
    width: var(--messageInputWidth);
    margin-inline: auto;
  }

  input {
    flex-basis: 100%;

    height: var(--controlHeight);
    padding: var(--messageInputPadding);

    background-color: var(--greyMiddleCold);
  }

  input:is(:valid) {
    border-color: initial;
  }

  input:is(:hover, :focus-visible) {
    outline-color: var(--greenLight);
  }

  button {
    flex-basis: var(--controlHeight);
    flex-shrink: 0;
    align-content: center;

    height: var(--controlHeight);
    
    background-color: var(--greenLight);
    border-radius: var(--messageInputButtonBorderRadius);
  }

  svg {
    display: block;

    width: var(--arrowIconWidth);
    height: var(--arrowIconHeight);
    margin-inline-start: var(--arrowIconMargin);

    path {
      fill: var(--black);
    }
  }
}