.contactFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--appWidth);
  height: var(--appHeight);
  margin-inline: auto;

  background-color: var(--black);
  border: var(--borderWidth) solid var(--greyLightCold_middle);
  border-radius: var(--appBorderRadius);

  form {
    padding: var(--formPadding);
    background-color: var(--greyDarkWarm);
    border: var(--borderWidth) solid var(--greyLightCold_lightest);
    border-radius: var(--appBorderRadius);
  }

  label {
    display: block;
    margin-block-end: var(--loginLabelMargin);
  }

  input {
    width: 100%;
    height: var(--messageInputHeight);
    padding: var(--messageInputPadding);
    margin-block-end: var(--loginInputMargin);

    background-color: var(--greyMiddleWarm);

    border: var(--borderWidth) solid var(--greyLightCold_lightest);
    border-radius: var(--messageInputBorderRadius);
  }

  button {
    height: var(--messageInputHeight);
    width: 100%;
    margin-block-start: var(--loginInputMargin);

    background-color: var(--greenLight);
    border-radius: var(--messageInputBorderRadius);
  }
}