.chatMessage {
  width: fit-content;
  max-width: var(--messageMaxWidth);
  padding: var(--messagePadding);
  margin-block-end: var(--messageMarginSmall);

  border-radius: var(--messageBorderRadius);

  font-weight: var(--fontWeightMessage);
  color: var(--white_medium);
}

.chatMessageSent {
  composes: chatMessage;
  margin-inline-start: auto;
  background-color: var(--greenDark);
}

.chatMessageReceived {
  composes: chatMessage;
  background-color: var(--greyDarkCold);
}