@import url("./styles/designTokens.css");

.visually-hidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

* {
  box-sizing: border-box;
}

body {
  align-content: center;

  height: 100vh;
  margin: 0;

  background-color: var(--greyMiddleCold);

  font-family: var(--fontFamily);
  font-size: var(--fontSizeText);
  line-height: var(--lineHeight);
  letter-spacing: var(--letterSpacing);
  color: var(--white_medium);
}

p, h1, h2 {
  margin: 0;
}

input {
  display: block;
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  color: var(--white_medium);
}

button {
  padding: 0;

  border: none;
}

.app {
  display: flex;
  
  width: var(--appWidth);
  height: var(--appHeight);
  margin-inline: auto;

  background-color: var(--black);
  border: var(--borderWidth) solid var(--greyLightCold_middle);
  border-radius: var(--appBorderRadius);

  overflow: hidden;
}
.first {
  margin-block-start: var(--messagesListPadding);
}