.contactsList {
  display: flex;

  /* flex-shrink: 0;
  flex-basis: var(--contactsListWidth); */
  flex-basis: 40%;

  > div:nth-child(1) {
    flex-shrink: 0;
    flex-basis: var(--sidebarWidth);

    background-color: var(--greyDarkCold);
  }

  > div:nth-child(2) {
    flex-basis: 100%;

    padding: var(--contactsListPadding);

    border-left: var(--borderWidth) solid var(--greyMiddleWarm);
    border-right: var(--borderWidth) solid var(--greyMiddleWarm);

    background-color: var(--greyDarkWarm);
  }
}

@media screen and (max-width: calc(679 / 16 * 1rem)) {
  .contactsList {
    display: none;
  }
}

.contactsListHeader {
  padding: var(--contactsListPadding);
  margin-block-end: var(--contactsListHeaderMargin);

  h1 {
    font-size: var(--fontSizeHeading);
  }
}